body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
}
.top-header-contact{
    color: aliceblue;
}
.nav-links-custom{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.nav-links-custom a{
    color: aliceblue;
    margin: 0 2px;
}
.hero-section{
    background-image: url('../img/slider.jpg');
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-box{
    background: #1e252b80;
    width: 100%;
    padding: 20px;
    border: 1px solid whitesmoke;
}
.info-box h1{
   color: rgb(65, 221, 117);
}
.info-box button{
    font-weight: 500;
}
